/* General Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("images/music3.jpg");
  background-size: cover;
  background-position: center;
}

/* Form Container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 28px;
  color: #ff23a0;
  margin-bottom: 10px;
}

p {
  color: white;
  font-size: 14px;
  margin-bottom: 15px;
}

/* Form Styling */
form {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  width: 350px;
  text-align: center;
}

/* Input Fields */
.input {
  background-color: pink;
  border: 1px solid pink;
  color: black;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  transition: 0.5s border-color;
  outline: none;
  font-size: 14px;
}

.input:focus {
  border-color: #ffd423;
}

.text {
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

/* Buttons */
.btn {
  padding: 12px;
  width: 100%;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
  background: #ffd423;
  transition: 0.3s background ease-in-out;
  letter-spacing: 1px;
  font-size: 15px;
}

.btn:hover {
  background: #ffe789;
}

/* Back to Login Link */
.text a {
  text-decoration: none;
  color: #ff80c0;
}

.text a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 480px) {
  form {
    width: 90%;
    padding: 30px 15px;
  }
}
