* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("images/music3.jpg");
  background-size: cover;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

#main-heading {
  font-size: 32px;
  color: #ff23a0;
  margin-bottom: 20px; /* Space between heading and form */
}

form {
  background: rgba(0, 0, 0, 0.6);
  padding: 50px 18px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
  z-index: 2;
  width: 350px;
  text-align: center;
}

.input {
  background-color: pink;
  border: 1px solid pink;
  color: black;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  transition: 0.5s border-color;
  outline: none;
}

.text {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px; /* Adjusts spacing between label and input */
  display: block; /* Ensures label appears above input */
  text-align: left; /* Aligns label to the left */
}

.input:focus {
  border-color: #ffd423;
}

h2 {
  text-align: center;
  color: #ffd423;
  letter-spacing: 2px;
  padding: 10px;
}

.label-text {
  color: white;
}

.btn {
  padding: 12px;
  width: 100%;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background: #ffd423;
  transition: 1s background;
  letter-spacing: 2px;
}

.btn:hover {
  background: #ffe789;
}

a {
  text-decoration: none;
  color: #ff80c0;
}

a:hover {
  text-decoration: underline;
}

/* Radio button styling */
.radio-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.radio-group input {
  margin-right: 5px;
}

.radio-group label {
  color: white;
  font-size: 14px;
}
